# These requirements are pinned to versions that Colab uses, so that our tests
# are more likely to catch problems that show up in the Colab environment.
backcall
bleach
decorator
defusedxml
entrypoints
ipykernel
ipython
ipython-genutils
ipywidgets
jedi
Jinja2
jsonschema
jupyter-client
jupyter-console
jupyter-core
MarkupSafe
mistune
nbconvert
nbformat
nose
notebook
pandocfilters
pexpect
pickleshare
prometheus-client
prompt-toolkit
ptyprocess
Pygments
python-dateutil
pyzmq
qtconsole
Send2Trash
six
terminado
testpath
tornado
traitlets
wcwidth
webencodings
widgetsnbextension
jupyterlab
jupyterlab_templates
jupyterlab-git
knowledge-repo[all]
jupyter
pandas
matplotlib
numpy
jupyter-kernel-test
